body {
    background-image: linear-gradient(rgb(171, 226, 252), rgb(236, 236, 236));
    height:fit-content;
}

@media screen and (min-width: 0px) {
    #weatherDetailsList {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    #weatherDetailsList {
        display: flex;
        border: none;
        flex-direction: column;
        align-items: center;
    }
}